<div
  id="carouselExample"
  class="carousel slide w-50"
  style="margin: auto; margin-top: 50px"
>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img
        src="./assets/visa.jpg"
        class="d-block w-100"
        style="max-height: 350px"
      />
    </div>
    <div class="carousel-item">
      <img
        src="./assets/shop.jpg"
        class="d-block w-100"
        style="max-height: 350px"
      />
    </div>
    <div class="carousel-item">
      <img
        src="./assets/stock.jpg"
        class="d-block w-100"
        style="max-height: 350px"
      />
    </div>
  </div>
  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#carouselExample"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#carouselExample"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<h3 class="text-light text-center mt-5">Categories</h3>
<div class="container mt-3">
  <div class="row justify-content-center gap-3">
    <div class="col-3" *ngFor="let i of category" style="max-width: 150px">
      <div class="card text-center" (click)="goCategory(i.id)">
        <div class="card-body">
          <app-category-card [category]="i" />
        </div>
      </div>
    </div>
  </div>
</div>
<h3 class="text-light text-center mt-5">Products</h3>
<div class="container mt-3">
  <div class="row justify-content-center gap-5">
    <div class="col-3" *ngFor="let i of products">
      <div class="card text-center bg-dark" style="min-width: 150px">
        <div class="card-body">
          <app-product-card [item]="i" />
        </div>
      </div>
    </div>
  </div>
</div>
